<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:rescap3="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:a="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp rescap desktop uap3 rescap3 a">

  <Identity
    Name="RectifyPad"
    Publisher="CN=lixkote"
    Version="11.2304.10.0" />

  <mp:PhoneIdentity PhoneProductId="b36d39c6-c6c9-49b7-8519-9919bf164161" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>RectifyPad</DisplayName>
    <PublisherDisplayName>Lixkote</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="RectifyPad.App">
      <uap:VisualElements
        DisplayName="RectifyPad"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="RectifyPad is a word processor application that supports rich text format (RTF). It is designed to be a modern and consistent alternative to Wordpad, which was discontinued by Microsoft. Its a part of Rectify11, a software that enhances the Windows operating system. Developed by lixkote as a hobby project."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
		<uap:SplashScreen Image="Assets\HolderSplash.png" />

      </uap:VisualElements>
		<Extensions>
			<uap3:Extension Category="windows.appExecutionAlias" EntryPoint="FluentPad.App">
				<uap3:AppExecutionAlias>
					<desktop:ExecutionAlias Alias="wordpad.exe"/>
					<desktop:ExecutionAlias Alias="write.exe"/>
				</uap3:AppExecutionAlias>
			</uap3:Extension>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="rtf">
					<uap:Logo>Assets\wordpaddocument.png</uap:Logo>
					<uap:SupportedFileTypes>
						<uap:FileType>.rtf</uap:FileType>
					</uap:SupportedFileTypes>
				</uap:FileTypeAssociation>
			</uap:Extension>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="txt">
					<!--remember here to update the txt icon here to the app's main icon, as it is wordpad-->
					<uap:Logo>Assets\txt.png</uap:Logo>
					<uap:SupportedFileTypes>
						<uap:FileType>.txt</uap:FileType>
						<uap:FileType>.odt</uap:FileType>
						<uap:FileType>.docx</uap:FileType>
					</uap:SupportedFileTypes>
				</uap:FileTypeAssociation>
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
	  <Capability Name="internetClient" />
	  <rescap:Capability Name="confirmAppClose"/>
	  <rescap:Capability Name="broadFileSystemAccess" />
	  <uap:Capability Name="removableStorage"/>
	  <uap:Capability Name="videosLibrary"/>
	  <uap:Capability Name="musicLibrary"/>
	  <uap:Capability Name="picturesLibrary"/>
  </Capabilities>
</Package>