<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="WritePad"
    Publisher="CN=lixkote"
    Version="11.2302.1.0" />

  <mp:PhoneIdentity PhoneProductId="b36d39c6-c6c9-49b7-8519-9919bf164161" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>WritePad</DisplayName>
    <PublisherDisplayName>Lixkote</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="WritePad.App">
      <uap:VisualElements
        DisplayName="WritePad"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="WritePad is the basic word processor. It is more advanced than Windows Notepad, and simpler than Microsoft Word and Microsoft Works (last updated in 2007). WritePad is an free and Open Source alternative to Windows WordPad."
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
		<Extensions>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="rtf">
					<uap:Logo>assets\rtf.png</uap:Logo>
					<uap:SupportedFileTypes>
						<uap:FileType>.rtf</uap:FileType>
					</uap:SupportedFileTypes>
				</uap:FileTypeAssociation>
			</uap:Extension>
			<uap:Extension Category="windows.fileTypeAssociation">
				<uap:FileTypeAssociation Name="txt">
					<uap:Logo>assets\txt.png</uap:Logo>
					<uap:SupportedFileTypes>
						<uap:FileType>.txt</uap:FileType>
					</uap:SupportedFileTypes>
				</uap:FileTypeAssociation>
			</uap:Extension>
		</Extensions>
    </Application>
  </Applications>

  <Capabilities>
	  <Capability Name="internetClient" />
	  <rescap:Capability Name="confirmAppClose"/>
	  <rescap:Capability Name="broadFileSystemAccess" />
	  <uap:Capability Name="removableStorage"/>
	  <uap:Capability Name="videosLibrary"/>
	  <uap:Capability Name="musicLibrary"/>
	  <uap:Capability Name="picturesLibrary"/>
  </Capabilities>
</Package>